<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>10000</string>
		<key>name</key>
		<string>初中</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10001</string>
		<key>name</key>
		<string>中技</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10002</string>
		<key>name</key>
		<string>高中</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10003</string>
		<key>name</key>
		<string>中专</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10004</string>
		<key>name</key>
		<string>大专</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10005</string>
		<key>name</key>
		<string>本科</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10006</string>
		<key>name</key>
		<string>硕士</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10007</string>
		<key>name</key>
		<string>MBA</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10008</string>
		<key>name</key>
		<string>EMBA</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10009</string>
		<key>name</key>
		<string>博士</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10010</string>
		<key>name</key>
		<string>其他</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10011</string>
		<key>name</key>
		<string>不限学历</string>
	</dict>
</array>
</plist>
