<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LGApplications.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE6040CC1EE5316E0089C945</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6040E51EE5316E0089C945</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6040F01EE5316E0089C945</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
